.h1-contact {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #352d39ff;
  padding-top: 100px;
}

.label-contact {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0;
}

.contact-button {
  color: #f0f0f0;
  background-color: #352d39ff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  line-height: 16px;
  text-align: center;
  width: 100%;
}

.contact-button:active {
  background-color: #006AE8;
}

.contact-button:hover {
  background-color: #a571ff;
  color: #f0f0f0;
}

.contact-input{
  border-color: #FF4C4C;
}
