.navbar-bg{
    background-color: #352D39;
}

.navbar-header a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.burger{
    transition: all 6s ease-in;
}

.active {
    border: 1px solid white;
}

.active:hover{
    color: #ff6978ff !important;
}

.navbar-light .navbar-toggler-icon{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); ;
}

.navbar-light .navbar-toggler {
    background-color: white;
}
/*--ultra-red: #ff6978ff;
--baby-powder: #fffcf9ff;
--celeste: #b1ede8ff;
--eggplant: #6d435aff;
--black-coffee: #352d39ff;*/