.navbar-bg{
    background-color: #352D39;
}

.navbar-header a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.active {
    background-color: #6d435aff;
}

/*--ultra-red: #ff6978ff;
--baby-powder: #fffcf9ff;
--celeste: #b1ede8ff;
--eggplant: #6d435aff;
--black-coffee: #352d39ff;*/