button.social-icon {
      color: white;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: none;
}
button.social-icon:hover{
      color: black;
}

.facebook {
      background-color: #4267b2;
}

.google {
      background-color: #db4437;
}