.product-card{
      margin-top: 10px;
      background-color: #f7f7f7;
      box-shadow: 0 0 11px 5px rgba(49, 48, 49, 0.268);
}

.product-title{
      font-weight: 600;
      font-size: 18px;
}

.product-text{
      font-weight: 400;
      font-size: 14px;
}

.product-price{
      font-weight: 600;
      font-size: 30px;
      color: #f93333 !important;
}

.product-button{
      background-color: #352d39ff !important;
      border: none;
      border-radius: 0%;
      width: 100%;
}

.product-button:hover{
      background-color: #a571ff;
}

.product-button:active {
      background-color: #006AE8;
}

.container-product{
      
}