.edit-button {
      color: #f0f0f0;
      border: none;
      background-color: #352d39ff;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 600;
      border-radius: 6px;
      line-height: 16px;
      text-align: center;
      width: 50%;
}

.edit-button:active {
      background-color: #8341f4;
}

.edit-button:hover {
      background-color: #a571ff;
      color: #f0f0f0;
}

.userImg {
      width: 30%;
      clip-path: circle();
}

.close-button {
      color: #f0f0f0;
      border: none;
      background-color: #352d39ff;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 600;
      border-radius: 6px;
      line-height: 16px;
      text-align: center;
      width: 50%;
      padding: 4px;
}

.close-button:active {
      background-color: #8341f4;
}

.close-button:hover {
      background-color: #a571ff;
      color: #f0f0f0;
}

.modal-content {
      background: #6d435aff;
      padding: 25px 10px;
      border-radius: 20px;
      box-shadow: 0 0 11px 5px rgba(49, 48, 49, 0.268);
}

.img-table {
      object-fit: cover;
}