.edit-user{    
  background: #6d435aff;
  padding: 25px 10px;
  border-radius: 10px;
  box-shadow: 0 0 11px 5px rgba(49, 48, 49, 0.268);
}

.edit-button {
      font-size: 13px;
      color: white;
      background-color: rgb(58, 145, 40);
      font-weight: 400;      
}
    
.edit-button:hover {
      background-color: #a571ff;
      color: #f0f0f0;
}