.edit-button {
      color: #f0f0f0;
      border: none;
      background-color: #352d39ff;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 600;
      border-radius: 6px;
      line-height: 16px;
      text-align: center;
      width: 50%;
}

.edit-button:active {
      background-color: #8341f4;
}

.edit-button:hover {
      background-color: #a571ff;
      color: #f0f0f0;
}

.add-button {
      color: #f0f0f0;
      border: none;
      background-color: rgb(0, 117, 72);
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 600;
      border-radius: 6px;
      line-height: 16px;
      text-align: center;
}

.add-button:active {
      background-color: #8341f4;
}

.add-button:hover {
      background-color: #a571ff;
      color: #f0f0f0;
}

.userImg {
      width: 30%;
      clip-path: circle();
}

.close-button {
      color: #f0f0f0;
      border: none;
      background-color: #352d39ff;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 600;
      border-radius: 6px;
      line-height: 16px;
      text-align: center;
      width: 50%;
      padding: 4px;
}

.close-button:active {
      background-color: #8341f4;
}

.delete-button:hover {
      background-color: #a571ff;
      color: #f0f0f0;
}

.delete-button {
      color: #f0f0f0;
      border: none;
      background-color: rgb(255, 0, 0);
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 600;
      border-radius: 6px;
      line-height: 16px;
      text-align: center;
      width: 50%;
      padding: 4px;
}

.delete-button:active {
      background-color: #8341f4;
}

.close-button:hover {
      background-color: #a571ff;
      color: #f0f0f0;
}

.modal-content {
      background: #6d435aff;
      padding: 25px 10px;
      border-radius: 20px;
      box-shadow: 0 0 11px 5px rgba(49, 48, 49, 0.268);
}

.img-table {
      object-fit: scale-down;
      height: 170px;
      width: 170px;
}

.row-products {
      background-color: #fff;
      padding: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      -webkit-border-radius: 6px;
      border-radius: 6px;
      -webkit-filter: drop-shadow(0 0 1px rgba(0, 0, 0, .12));
      filter: drop-shadow(0 0 1px rgba(0, 0, 0, .12));
      margin-bottom: 16px;
}

.p-row {
      line-height: 18px;
      text-align: justify;
      font-size: 14px;
}

.main {
      width: 100%;
      border: 02px solid white;
      border-radius: 6px;
      line-height: 16px;
      background-color: #352d39ff;
      margin-bottom: 15px;
      margin-left: 2px;
}
.main-selects {
      width: 100%;
      border: 02px solid white;
      border-radius: 6px;
      line-height: 16px;
      background-color: #FF4C4C;
      margin-bottom: 15px;
      margin-left: 2px;
}

.input-search {
      background: transparent;
      border: 0px;
      outline: 0px;
      width: 320px;
}

.input-search::placeholder {
      color: white;
}

.input-search:focus {
      background: transparent;
      color: white;
      border: 1px solid red;
      border-radius: 0%;
      border: 0px;
      box-shadow: none;
}

.icon-search {
      color: white;
      font-size: 20px;
      padding-top: 7px;
      padding-right: 10px;
}