*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right top, #352d39, #613858, #983c66, #d03e62, #ff4c4c);
}

main {
  min-height: 80vh;
}

ul {
  list-style: none;
}
